.location{
    position: sticky;
    top:0px;
}

.location>h5{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
    position: sticky;
    top:0px;

}

.location>p{
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    
}

.vertical-line{
    height: 55px;
    border-left: 2px solid #f2f2f2;
   
}

.search-div{
    padding: 0px 12px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
}

.search-div>input{
    border: none;
    background-color: transparent;
    width: 40vw;
    height: 45px;
}

::placeholder{
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.my-cart{
    background-color: #0d831e !important;
    font-size: 14px !important;
}

.my-categories{
    width: 85%;
}
.my-container{
    margin: auto;
    width: 85%;
   overflow-x: scroll;
}


.my-list{
    white-space: nowrap;
}

.my-list>img{
    padding-inline: 10px;
    transition:1s;
}
.my-list>img:hover{
    transform: scale(1.1);
    z-index: 2;
}

.my-card{
    width: 179px;
    margin-inline:10px ;
    transition: 1s;
}
.my-card:hover{
    transform: scale(1.1);
    z-index: 2;
}

.my-card-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 17px;
}

.my-card-weight{
    color: #666666;
    font-size: 13px;
}

.card-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
}

.mrp{
    color: #666666;
    font-size: 12px;
}
.category-section{
    width: 85%;
    margin: auto;
}
.category-section-row{
    width: 100%;
    overflow-x: scroll;
}
.footer{
    text-align: center;
    margin-top:70px;
    font-size:30px;
}


.download-section>p{
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    margin: 16px;
}
.download-btns{
    background-color: #213b50;
    color: white;
    border-radius: 10px;
    margin: 10px;
    border: none;
    padding: 10px;
}
.social-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-inline: 10px;
}

.


@media screen and (max-width:768px){
    nav,.row-2,.row-1{
        flex-direction: column !important;
    }
    .vertical-line,.hero-section>img{
        display: none !important;
    }
    .nav-btns,.row-2>p,.search-div{
        width: 90%;
    }
    .row-1>div,.my-container{
        margin-top: 20px;
    }
    .row-1>div>h2,.row-1>div>h4{
        text-align: center;
    }
    
}
